/* .header {
    width: 100%;
    height: 172px;
}

.logo{
    width: 172px;
    height: 172px;
}


.nav {
    display: inline-block;
}

.nav li {
    display: inline-block;
    line-height: 172px;
}
 */
